@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

// Screen sizes
$mobile-screen: 24rem; // 375px
$tablet-540-screen: 33.75rem;
$tablet-768-screen: 48rem;
$desktop-1024-screen: 64rem;
$desktop-1440-screen: 90rem;

// Colors
$grey-900: hsl(217, 19%, 35%);
$grey-500: hsl(214, 17%, 51%);
$grey-400: hsl(212, 23%, 69%);
$grey-200: hsl(210, 46%, 95%);
$white: hsl(0, 100%, 100%);

// Font
$text-size: 0.813rem; //13px
$font-family: "Manrope", sans-serif;
