@use "variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: v.$font-main-regular;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$blue-800;

  @media screen and (min-width: v.$tablet-540-screen) {
    padding: 24px;
  }

  @media screen and (min-width: v.$tablet-768-screen) {
    padding: 60px;
  }
}

main {
  background-color: v.$white;

  @media screen and (min-width: v.$tablet-540-screen) {
    border-radius: 36px;
    padding: 40px;
  }

  @media screen and (min-width: v.$tablet-768-screen) {
    padding: 64px;
  }

  @media screen and (min-width: v.$desktop-1024-screen) {
    padding: 32px;
  }
}
