// Screen sizes
$mobile-screen: 24rem; // 375px
$tablet-540-screen: 33.75rem;
$tablet-768-screen: 48rem;
$desktop-1024-screen: 64rem;
$desktop-1440-screen: 90rem;

// Colors
$navy-950: #0e1323;
$navy-900: #1c204b;
$navy-800: #33397a;
$navy-200: #bbc0ff;
$orange-300: #ff8b64;
$purple-700: #7335d2;
$purple-600: #5747ea;
$purple-500: #7078c9;
$blue-300: #55c2e6;
$pink-400: #ff5e7d;
$green-400: #4bcf82;
$yellow-300: #f1c75b;
$grey-200: #d8d8d8;
