/* Group by font weights */

/* All fonts */

.font_styles_1 {
  line-height: 100%;
  letter-spacing: 0;
}

.font_styles_2 {
  line-height: 120%;
  letter-spacing: 0;
}

.font_styles_3 {
  line-height: 150%;
  letter-spacing: 0;
}

.txt_preset_1 {
  /* 144px */
  font-size: 9rem;
}

.txt_preset_2_med,
.txt_preset_2_light {
  /* 64px */
  font-size: 4rem;
}

.txt_preset_2_light {
  font-weight: 300;
}

.txt_preset_3 {
  /* 36px */
  font-size: 2.25rem;
}

.txt_preset_4 {
  /* 28px */
  font-size: 1.75rem;
}

.txt_preset_5_med,
.txt_preset_5_reg {
  /* 24px */
  font-size: 1.5rem;
}

.txt_preset_5_i {
  font-style: italic;
  font-size: 0.875rem;
}

.txt_preset_6_i {
  /* 20px */
  font-size: 1.25rem;
}

.txt_preset_1,
.txt_preset_2_med,
.txt_preset_3,
.txt_preset_4,
.txt_preset_5 {
  font-weight: 600;
}

.txt_preset_5_reg,
.txt_preset_6_i {
  font-weight: 400;
}

@media (max-width: 600px) {
  .txt_preset_1 {
    /* 88px */
    font-size: 5.5rem;
  }

  .txt_preset_2_light,
  .txt_preset_2_med {
    /* 40px */
    font-size: 2.5rem;
  }

  .txt_preset_3 {
    /* 20px */
    font-size: 1.25rem;
  }

  .txt_preset_4 {
    /* 18px */
    font-size: 1.125rem;
  }
}
