.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: auto;
  padding: 16px 0px;
  z-index: 5;
}

@media (min-width: 768px) {
  .header_container {
    padding: 48px 0px;
  }
}

@media (min-width: 1440px) {
  .header_container {
    padding: 56px 0px;
  }
}

.icon_container {
  width: 167px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.icon_container > a > div {
  width: 40px;
  max-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.icon_container > a > div > img {
  width: 28.57px;
  height: 28.57px;
}
