.home_container {
  padding: 32px 0px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 1440px) {
  .home_container {
    grid-template-columns: 1fr 1fr;
  }
}

.title_container {
  display: grid;
  grid-template-columns: 1fr;
  align-self: start;
  gap: 16px;
}

@media (min-width: 1440px) {
  .title_container {
    gap: 48px;
  }

  .title_container > p {
    /* 20px */
    font-size: 1.25rem;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  z-index: 5;
}

.main > a {
  text-decoration: none;
}
