.primary_button {
  width: 100%;
  height: auto;
  padding: 16px;
  background-color: var(--btn-color-1);
  cursor: pointer;
  color: var(--txt-color-1);
  border: none;
  border-radius: 12px;
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
}

@media (min-width: 768px) {
  .primary_button {
    height: 92px;
    border-radius: 24px;
  }
}

.primary_button:hover {
  background-color: #d394fa;
}

.primary_button:active {
  background-color: var(--btn-color-1);
  opacity: 100%;
}
