.page {
  padding-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
}

.title {
  margin-bottom: 40px;
}
.results_container {
  width: 100%;
  height: auto;
  background-color: var(--background-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 16px;
  margin-bottom: 16px;
}

.icon_override {
  justify-content: center !important;
  width: 100% !important;
}

.score {
  color: var(--all-font-color);
}

.maxQ {
  color: var(--secondary-font-color);
}
