@use "variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  background-color: v.$grey-200;

  @media screen and (min-width: v.$tablet-768-screen) {
    padding: 0 max(0px, (100% - 608px)/2);
    padding-bottom: 56px;
  }

  @media screen and (min-width: v.$tablet-768-screen) {
    padding: 0 max(0px, (100% - 920px)/2);
    padding-bottom: 56px;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

main {
  background-color: white;
  border: none;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  max-width: 920px;
  height: auto;
  //   max-height: 800px;
  padding: 32px 24px;
  display: grid;
  gap: 32px;

  @media screen and (min-width: v.$tablet-768-screen) {
    border-radius: 25px;
    padding: 48px 80px;
  }

  @media screen and (min-width: v.$desktop-1440-screen) {
    grid-template-columns: 1fr 1fr;
    padding: 32px;
    gap: 48px;
  }
}
