@use "variables" as v;
@use "mixins" as m;
@use "layout";

// Remove arrows for inputs="number"
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.visiually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

.logo {
  width: 87px;
  height: 54px;
  margin: 50px 0px;
}

label {
  @include m.label;
}

.tip-percentage,
.bill-amount {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.num-people > div {
  margin-bottom: 8px;
}

.error {
  display: none;
  color: v.$orange-400;
}

input {
  @include m.input;
}

.dollar-icon {
  background: v.$grey-50 url("../../tip-calculator-app/images/icon-dollar.svg")
    no-repeat 16px 15px;
}
.person-icon {
  background: v.$grey-50 url("../../tip-calculator-app/images/icon-person.svg")
    no-repeat 16px 15px;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  padding: 0 8px;

  .tip-percentage {
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      @media screen and (min-width: v.$tablet-768-screen) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .custom {
      text-align: center;
    }
  }

  .num-people {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        justify-self: end;
      }
    }
  }

  @media screen and (min-width: v.$desktop-1440-screen) {
    padding: 0;
  }
}

.btn {
  @include m.btn;

  &:hover {
    background-color: v.$green-200;
    color: v.$green-900;
  }
}

.selected {
  background-color: v.$green-400;
  color: v.$green-900;
}

.reset {
  background-color: v.$green-400;
  color: v.$green-900;
}

.tip-card {
  @include m.tip-card;
}
